.container{
  width: 1200px;
  margin: 0 auto
}
.above{
  background-color: #e3f9f7;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Cinzel', serif;
}
.opos{
  display:none;
}

.box{
  display: flex;
  justify-content: space-between
}
.headerTexts{
  text-align: center;
  padding: 30px

}
h1{
  font-family: 'Cinzel', serif;
}
.pros{
  background-color: #e4f0f9;
  width: 47%
}
.cons{
  background-color: #faeaeb;
  width: 47%;
}
.adder{
  display: inline;
}
li{
  width: 450px;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  margin: 5px;
  position: relative;
  font-family: 'Oswald', sans-serif;
}

li button{
  position: absolute;
  right:40px;
}

ul{
  list-style: none;
}
.licznik{
  position: absolute;
  right: 5px;
  top: 50%;

}

.list{
  text-align: left;
}

@media (max-width:440px) {
  .container{
    width: 320px;
  }
  .headerTexts{
    text-align: center;
    padding: 1px

  }
  li {
    width: 316px;
    margin: 1px 1px 10px 1px;
    padding: 1px 0px 20px 0px;
  }
  h1{
    font-size: 20px;
  }
  .opos{
    display: inline-block;
    margin-left: 150px;
    border: 1px solid green;
  }
  .above{
    text-align: center;
  }
  .box{
    display: block;
  }
  .cons{
    width: 100%
  }
  .pros{
    width: 100%
  }

}